body {margin-top: 60px;}

#TopBar {
	height: 50px; width: 100%;
	background-color: #424242;
	position: fixed; top:0; left: 0;
	z-index: 2;}
#IconCircle {
	border-radius: 50%;
	width: 250px; height: 250px; 
	background-color: #424242;
	position: absolute; top: -125px; left: -125px;}
#IconOverlay {
	position: fixed; top: 15px; left: 10px;
	width: 70px; height: 70px;
	background-size: 100%; background-repeat: no-repeat;}
#MenuContainer {
	height: 50px; background-color: #424242;
	text-align: center;
	margin-left: 125px; margin-right: 125px;}
.MenuItem {
	width: 19.5%; height: 50px;
	color: white; font-size: 30px; text-decoration: none;
	line-height: 50px; text-align: center;
	display: inline-block;
	margin: 0;
	-webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; transition: background-color .15s ease-in-out;
}
#CodeCell:hover {background-color: #2ecc71;}
#MusicCell:hover {background-color: #3498db;}
#SchoolCell:hover {background-color: #f1c40f;}
#ResearchCell:hover {background-color: #e74c3c;}

#BannerWrap {position: absolute; top: 50px; right: 0px;}

#HomeBody {
	width: 100%; height: 80vh; min-height: 400px; max-height: 700px;
	display: inline-block;}
#MobileBar {display: none;}

#IntroHead {display: inline-block;}
#BioPar {width: 50%; min-width: 430px;}
#BottomMenu {
	margin-top: 30px;
	font-size: 2em; line-height: 2em;
	width: 100%; text-align: center;}
.BottomMenuLink {
	display: inline-block; 
	width: 25%;
	line-height: 2em; vertical-align: middle;
	margin-bottom: 20px;}

.CodeTable {margin-left: 3%; margin-right: 3%;}