body {
	background-image:url(/Resources/escheresque_ste.png);
	background-repeat:repeat;
	margin-left: 80px;
	font-family: "Helvetica";
	width: calc(100% - 80px;)
	-o-width: calc(100% - 80px;)
	-moz-width: calc(100% - 80px;)
	-webkit-width: calc(100% - 80px;)}
#Sidebar {
	position: fixed;
	left: 0; top:0;
	width: 80px; height: 100%;}
.BackBar {background-color: #000000}
.CodeBar {background-color: #81F778;}
.MusicBar {background-color: #668FF7;}
.SchoolBar {background-color: #FEFA44;}
.ResearchBar {background-color: #EC4049;}
.BottomLogo {
	background-color: #000000;
	color: white;}
.LogoOrient {
	transform:rotate(90deg);
	-o-transform:rotate906deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	text-align: center;}
.IconCol, .ItemCol {
	height: 100px;
	vertical-align: middle;}
.IconCol {
	width: 80px;
	text-align: center;
	z-index:10;}
#HomeBody {margin-bottom: 100px; margin-top: 104px;}
#MenuBar {
	position: absolute;
	margin-left: -4px;
	font-size: 3em;
	line-height: 2em;
	width: 23%;
	min-width: 240px;
	z-index:10;}
.ItemCol {
	width: 270px;
	min-width: 250px; max-width: 280px;
	text-indent: 20px;}
.MenuLink {color:black; text-decoration: none;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	text-decoration:none;
	display:block;}
.MenuLink:hover {color: white;}
#topart {
	padding-right: 10px;
	display: inline-block;
	width: 150px; height: 150px;
	background: url('Resources/pic.jpg') no-repeat;
	background-size: 150px}
#bighello {
	font-weight: bold;
	font-size: 4em;
	padding-left: 10px;
	color: white;
	text-align: left;
	display: inline-block;}
#IntroHead {
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 0 auto;}
#BioPar {
	text-align: justify;
	line-height: 2em;
	min-width: 420px;
	width: 30%;
	color: white;
	text-indent: 2em;
	margin-bottom: 20px;
	display: inline-block;}
#MobileBar {display: none;}
#SpotifyFrame {
	display: inline-block;
	position: absolute;
	top: 100px; 
	right: 30px;
	width: 300px; height: 420px;}
#BottomMenu {
	text-align: center;
	position: relative;
	margin-top: 130px;
	width: 100%;
	min-width: 900px;
	color: white;
	font-size: 30px;}
.BottomMenuLink {
	color: white;
	width: 1000px;
	text-decoration: none;
	margin: 10%;}
.BottomMenuLink:hover {color: yellow;}
.AnchorMargin {
	position: relative;
	display: block;
	border: 0px;
	margin-left: -2px;
	width: 100%;}
#CodePage, #MusicPage, #SchoolPage, #ResearchPage {
	position: relative;
	clear: both;
	margin-left: -2px;
	margin-top: 15px;
	width: 100%;
	text-align: center;
	display: inline-block;}
#CodePage {background-color: #81F778;}
#MusicPage {background-color: #668FF7;}
#SchoolPage {background-color: #FEFA44;}
#ResearchPage {background-color: #EC4049;}

#PageHeader {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;}
#PageHeader img {
	margin-right: 10px;
	display: inline-block;}
h1 {font-size: 3em;}

.CodeTable {
	display: inline-block;
	position: relative;
	height: 115px; width: 440px;
	margin-left: 25px; margin-right: 25px;
	margin-bottom: 50px;
	background-color: white;
	z-index:10;
	border:10px solid white;
	-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;
	-webkit-transition: border .25s ease-in-out;
	-moz-transition: border .25s ease-in-out;
	-o-transition: border .25s ease-in-out;
	transition: border .25s ease-in-out;}
.CodeTable a {}
.CodeTable:hover {border:10px solid #3399FF;}
.CodeTableIcon {width: 115px; height: 115px; }
.CodeTableItem {width: 325px; z-index:10; height: 115px;}
.CodeItemTitle {font-size: 30px; text-align: left; z-index:10;
	text-decoration: none; display: block; color: black;}
.CodeItemDescription {font-size: 1em; text-align: left; z-index:10;
	text-decoration: none; display: block; color: black;}