body {
	background-image:url(/Resources/escheresque_ste.png);
	font-family: "Arial";}
.BackBar {background-color: #000000}
.CodeBar, #CodePage {background-color: #81F778;}
.MusicBar, #MusicPage {background-color: #71A9FF;}
.SchoolBar, #SchoolPage {background-color: #FFFF66;}
.ResearchBar, #ResearchPage {background-color: #FF4D4D;}

.MenuLink {color:black; text-decoration: none;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	display:block;}

#IntroHead {
	width: 100%;
	margin-top: 100px;
	text-align: center;
	margin-bottom: 2vh;}
#topart{
	display: inline-block;
	width: 150px; height: 150px;
	margin-right: 20px;
	background-image: url(/Resources/pic.jpg);
	background-size: 150px;}
#bighello {font-size: 4.5em; font-weight: bold; color: white;
	text-align: left;
	display: inline-block;}
#BioPar {
	width: 40%;
	margin: auto;
	text-align: justify; text-indent: 4vh;
	font-size: 2vh; color: white;
	line-height: 2em;}
.BottomMenuLink {
	color: white;
	text-decoration: none;}
.BottomMenuLink:hover {color: yellow;}

.AnchorMargin {
	position: relative;
	display: block;
	border: 0px;
	margin-left: -2px;
	width: 100%;}
#CodePage, #MusicPage, #SchoolPage, #ResearchPage {
	position: relative;
	clear: both;
	margin-left: -2px;
	margin-top: 15px;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding-bottom: 30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px; 
	border-radius:10px;}
.PageHeader {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;}
h1 {font-size: 3em; font-weight: lighter;
	line-height: 1em;}
.HeaderIcon {
	margin-right: 10px; margin-left: 10px;
	display: inline-block;
	opacity: .5;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;}
.HeaderIcon:hover {opacity: 1;}

.CodeTable {
	display: inline-block;
	position: relative;
	height: 115px; width: 440px;
	margin-left: 25px; margin-right: 25px;
	margin-bottom: 50px;
	background-color: white;
	z-index:10;
	border:10px solid #E6E6E6;
	-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;
	-webkit-transition: border .25s ease-in-out;
	-moz-transition: border .25s ease-in-out;
	-o-transition: border .25s ease-in-out;
	transition: border .25s ease-in-out;}
.CodeTable:hover {border:10px solid #3399FF;}
.CodeTableIcon {width: 115px; height: 115px; }
.CodeTableItem {width: 325px; z-index:10; height: 115px;}
.CodeItemTitle {font-size: 30px; text-align: left; color: black;}
.CodeItemDescription {font-size: 1em; text-align: left; color: black;}
.CodeItemLang {font-style: 1em; text-align: left; color: gray;}

#NowPlaying {
	display: inline-block;
	position: relative;
	width: 400px;
	background-color: white;
	border:10px solid #E6E6E6;
	-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;
	margin-bottom: 30px;
	padding-bottom: 20px;}
#NowPlaying img {  
    box-shadow: 0px 5px 10px #888888;
}  
#TrackLink {text-decoration: none; color: black;}
#TrackLink:hover {text-decoration: underline;}

/* Pulse Grow - Hover.css (http://ianlunn.co.uk/)*/
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 8px 15px 2px #888888;
  }}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 8px 15px 2px #888888;
  }}
.pulse-grow {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#EdCareer {display: block;
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 500px; height: 250px;
	background-color: black; color: white; font-family: "Comic Sans MS" Sans;
	border:10px solid #E6E6E6;
	-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;
	margin-bottom: 30px;
	padding-bottom: 20px; padding-top: -20px;}
#EdCareer dl {margin-left: 30px; margin-right: 30px;}
#EdCareer dt {font-weight: bold; padding-top: 15px;}
#EdCareer dd {margin-left: 40px; text-indent: -20px;}
#Eraser {width: 30px; height: 7px; background-color: white;
	position: absolute; bottom: 0; left: 65px;
	display: block; z-index: 12;
	border: 1px solid black;
	border-top: 3px solid gray;}
#Chalk {width: 15px; height: 3px; background-color: white;
	position: absolute; bottom: 0; right: 150px;
	display: block; z-index: 12;
	border: 1px solid black;}