#TopBar {display: none;}
#MenuBar {display: none;}
.hover {display: none;}
#BannerWrap {position: absolute; top: 0px; right: 0px;}

#HomeBody {margin-bottom: 80px;}
#IntroHead {margin-top: 100px;}

#BioPar {
	width: 70%; min-width: 450px;
	margin-bottom: 50px;}
#BottomMenu {
	margin-bottom: 50px;}
.BottomMenuLink {
	margin: 30px;
	font-size: 2em; line-height: 2em;}

#MobileBar {
	font-size: 3em;
	line-height: 2em;
	height: 400px; width: 450px;
	margin: 0 auto;
	padding-bottom: 40px;
	display: block;}
.MenuCell {
	height: 100px;
	min-width: 450px;
	font-size: 1em;
	vertical-align: middle; text-align: center;
	display: table-cell;}

.MenuLink {
	color:black; text-decoration: none;
	display:block;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;}
.MenuLink:hover {color: white;}
.CodeTable {margin-left: 3%; margin-right: 3%;}
#NowPlaying {width: 40%;}
#TrackArt {
	width: 35vw; height: 35vw;
	background-size: 35vw;}
#TopArtists {width: 80%; padding-bottom: 50px;}
.TopArtist {
	width: 18vw; height: 18vw;
	opacity: 1;}
.TopArtistName {display: none;}