body {font-size: 100%;}

#TopBar {display: none;}
#MenuBar {display: none;}
#Modal {
	font-size: 1em;
	width: 90%;}
#BannerWrap {top: 0;}

#IntroHead {margin-top: 14%;}
#topart {
	width: 9em; height: 9em;
	background-size: 9em;
	margin-right: 13px;}
#bighello {
	font-size: 4.5em;}
#BioPar {
	width: 70%; min-width: 450px;
	font-size: 1.25em;}
#BottomMenu {margin: 50px 0 50px 0;}
.BottomMenuLink {width: 15%;}
#MobileBar {
	font-size: 2.5em;
	line-height: 2em;
	height: 10em; width: 10em;
	margin: 0 auto;
	display: inline-block;}
.MenuCell {
	height: 1em; width: 10em;
	font-size: 1em;
	vertical-align: middle; text-align: center;
	display: table-cell;}

.MenuLink {
	color: white; text-decoration: none;
	display: block;}
.CodeCard {margin-left: 3%; margin-right: 3%;}

#EdCareer {
    width: 80%; min-width: 500px;
	font-size: 1em;}

#NowPlaying {width: 40%;}
#TrackArt {
	width: 35vw; height: 35vw;
	background-size: 35vw;}
#TopArtists {width: 80%; padding-bottom: 50px;}
.ArtImage {
	width: 18vw; height: 18vw;
	opacity: 1;}

.BottomFirst, .BottomLast {font-size: 5em;}
#BBLogo {
	width: 7em; height: 3.5em;
	background-size: cover;}