body {
	font-family: 'Open Sans', 'sans-serif';
	margin: 0 auto;
	background-color: #F2F2F2;
	text-align: center;
	-webkit-transition: -webkit-filter .5s ease-in-out;
	min-width: 600px;
	font-size: 16px;
}
@media all and (min-width: 900px) {
    body {
    	margin-top: 40px;
    }
}
a {
	color: white;
	text-decoration: underline;
}

/* Modals */
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

.Modal {
	padding: 10px;
	background-color: white;
	color: black;
	border-radius: 5px;
	display: none;
    font-size: 1em;
}
@media all and (min-width: 900px) {
	.Modal {
	    width: 700px;
	}
}
@media all and (max-width: 899px) {
	.Modal {
	    width: 90%;
	    max-width: 700px;
	}
}
.Modal a {color: black;}
.Modal h2 {line-height: 0.5em;}
#CreditModal div {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: left;
	text-indent: 0.5em;
}
#CreditModal p {line-height: 0.5em;}
.modal_close {
	color: black;
	text-decoration: none;
	line-height: 4em;
	cursor: pointer;
}




.AnchorMargin {
	position: relative;
	display: block;
	border: 0px;
	margin-top: -20px;
	width: 100%;
    height: 49px;
}
.CodeBar,     #CodePage {background-color: #3A8FC7;}
.SchoolBar,   #SchoolPage {background-color: #F3B712;}
.MusicBar,    #MusicPage {background-color: #c0392b;}
.ProjectsBar, #ProjectsPage {background-color: #27ae60;}

#CodePage, #MusicPage, #SchoolPage, #ProjectsPage {
	position: relative;
	clear: both;
	width: 100%;
	text-align: center;
	color: white;
	display: inline-block;
	padding-bottom: 30px;
}

.PageHeader {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.PageHeader h1 {
	font-size: 3em;
	font-family: 'Oxygen', 'sans-serif';
	font-weight: normal;
	line-height: .75em;
}
.PageHeader h2 {
	font-family: 'PT Sans', 'sans-serif';
	font-size: 1.25em;
	font-weight: lighter;
	line-height: .5em;
	margin-bottom: 2em;
}

.BottomFirst {
	color: black;
}

.BottomLast {
	color: gray;
}
.BottomFirst,
.BottomLast {
    font-size: 7em;
}
@media all and  (max-width: 899px) {
	.BottomFirst,
	.BottomLast {
	    font-size: 5em;
	}
}

#BBLogo {
	display: inline-block;
	background-image: url(/Resources/Logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	margin: 2em;
    width: 10em;
    height: 5em;
    background-size: cover;
}
@media all and (max-width: 899px) {
	#BBLogo {
	    width: 7em;
	    height: 3.5em;
	}
}
.GlassesClass {
	-webkit-filter: blur(15px);
}

.Whiteboard {
	margin-top: 3em;
	display: inline-block;
	width: 50%;
	height: 25em;
	/* font-family: 'Sniglet', 'cursive'; */
	text-align: left;
	padding-left: 3em;
	color: black;
	background-color: white;
	border: 8px solid gray;
	border-bottom-color: #E6E6E6;
	border-radius: 5px;
}
.IdeaName {
	font-size: 1.25em;
	margin-top: 0.5em;
}
.IdeaDesc {
	text-indent: 1.5em;
}
.IdeaName:nth-child(3n-1), .IdeaDesc:nth-child(3n) {
	color: #ce5858;
}
.IdeaName:nth-child(3n+1), .IdeaDesc:nth-child(3n+2) {
	color: #586bce;
}
.IdeaName:nth-child(3n+3), .IdeaDesc:nth-child(3n+4) {
	color: #70bf89;
}
.WhiteEraser {
	width: 45px;
	height: 10px;
	background-color: black;
	bottom: 2.4em;
	position: absolute;
	right: 35%;
	display: block;
	border: 1px solid black;
	border-top: 3px solid gray;
}