@media all and (min-width: 1051px) {
    .TopBarWord {
        display: block;
    }
    .TopBarIcon {
        display: none;
    }
}

@media all and (max-width: 1050px) {
    .TopBarWord {
        display: none;
    }
    .TopBarIcon {
        display: block;
    }
    #IconCircle {
        display: none;
    }
    #MenuContainer {
        margin-left: 0;
        margin-right: 0;
    }
}

#TopBar {
    height: 50px;
    width: 100%;
    background-color: #424242;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2;
}

#IconCircle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #424242;
    position: absolute;
    top: -125px;
    left: -125px;
}

#IconOverlay {
    position: fixed;
    top: 15px;
    left: 10px;
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#MenuContainer {
    height: 50px;
    background-color: #424242;
    text-align: center;
    margin-left: 125px;
    margin-right: 125px;
    z-index: 100;
}
@media all and (max-width: 899px) {
    #MenuContainer {
        margin: 0;
    }
}
#MenuContainer > a {
    text-decoration: none;
}

.ablock {
    width: 20%;
    height: 50px;
    max-width: 250px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    float: left;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

.TopBarIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 50px;
    height: 50px;
    margin: auto;
}

#AboutCell > div {
    background-image: url(/Icons%20and%20Attr/User/icon_419.svg);
}

#CodeCell > div {
    background-image: url(/Icons%20and%20Attr/Code/icon_20826.svg);
}

#LifeWatchCell > div {
    background-image: url(/Icons%20and%20Attr/Book/icon_4584.svg);
}

#MusicCell > div {
    background-image: url(/Icons%20and%20Attr/Music/icon_8996.svg);
}

#ProjectsCell > div {
    background-image: url(/Icons%20and%20Attr/Earth/icon_10812.svg);
}

#AboutCell {
    border-bottom-color: #757575;
}

#CodeCell {
    border-bottom-color: #3A8FC7;
}

#LifeWatchCell {
    border-bottom-color: #FFBE00;
}

#MusicCell {
    border-bottom-color: #c0392b;
}

#ProjectsCell {
    border-bottom-color: #27ae60;
}

#AboutCell:hover {
    background-color: #757575;
}

#CodeCell:hover {
    background-color: #3A8FC7;
}

#LifeWatchCell:hover {
    background-color: #FFBE00;
}

#MusicCell:hover {
    background-color: #c0392b;
}

#ProjectsCell:hover {
    background-color: #27ae60;
}