.patch-button {
  color: #FFF;
  cursor: pointer;
  font-size: 1.5em;
  /*line-height: 150px;*/
  position: relative;
}
.patch-button span{
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.patch-button:hover {
  /*padding: solid 10px #FFF;*/
  /*line-height: 144px;*/
}

.patch-container {
  background-color: #2C3E50;
  border-radius: 5px;
  color: #FFF;
  display: inline-block;
  width: 85%;
  flex-flow: row wrap;
  overflow: auto;
  padding: 10px;
  position: relative;
  text-align: center;
}

.patch-item {
  background-color: #000;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  height: 250px;
  margin: 0.5%;
  transition: box-shadow .3s ease-in-out;
  border-radius: 5px;
}
.patch-item > div, .patch-item > img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	/*opacity: 0.75;*/
	transition: opacity .15s ease-in-out;
  border-radius: 5px;
}
/*.patch-active {
	-webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,1);
	box-shadow: 0px 0px 20px 5px rgba(255,255,255,1);
  opacity: 1;
}*/
.patch-item > div:not(.patch-open) {
  opacity: 0.75;
}
.patch-item > div:hover {
  opacity: 1;
}
.patch-open {
  opacity: 1;
}
.patch-third {
	width: 32.333333%;
}
.patch-half {
	width: 49%;
}
.patch-fourth {
	width: 24%;
}
.patch-tall {
	height: 400px;
}
.patch-panel {
  background-color: #000;
  border-radius: 4px;
  color: #FFF;
  display: none;
  /*flex: 1 100%;*/
  float: left;
  /*font-size: 1.5em;*/
  min-height: 400px;
  margin: 0.5%;
  width: 99%;
}
.patch-panel > div {
	height: 90%;
	float: left;
}
.ProjectMedia {
  width: 50%;
  margin-top:  1%;
  /* margin-left:  3%; */
}
.ProjectMedia > div {
  width: 600px;
  display:  inline-block;
  /* margin-left: 200px; */
}
.ProjectDesc {
  width: 43%;
  /* margin-left: 2%; */
  margin: 1%;
  padding: 2%;
}
.patch-panel p {
	text-align: left;
}
.slick-slide {
  /* width: 95%; */
  height: 375px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before{
  color:  white;
  /* font-size: 1em; */
}
@media only screen and (max-width : 800px) {
  .patch-half, .patch-third, .patch-fourth {
    width: 100%;
  }
  .ProjectDesc {
    width: 95%;
    padding: 20px;
  }
  .ProjectMedia {
    width: 95%;
  }
  .slick-list {
    display:  inline-block;
    width: 90%;
  }
  .slick-slide {
    width: 95%;
  }
  .ProjectMedia > div {
    /* width: 350px; */
  }
}

/* .slick-prev {
  left: 25px;
  z-index: 10;
}
.slick-next {
  right: 25px;
} */

.patch-item[data-patch-panel='BugBot'] > div {
	background-image: url('/Resources/Projects/BugBot1.jpg');
}
.patch-item[data-patch-panel='Engine'] > div {
	background-image: url('/Resources/Projects/EnginePhoto.jpg');
}
.patch-item[data-patch-panel='Nerf'] > div {
	background-image: url('/Resources/Projects/MaverickFull.jpg');
}
.patch-item[data-patch-panel='Tank'] > div {
	background-image: url('/Resources/Projects/TankIso.jpg');
}
.patch-item[data-patch-panel='Hoverboard'] > div {
	background-image: url('/Resources/Projects/Scooter1.jpg');
}
.patch-item[data-patch-panel='Longboard'] > div {
  background-image: url('/Resources/Projects/BoardTop.jpg');
}
.patch-item[data-patch-panel='Pressfit'] > div {
	background-image: url('/Resources/Projects/PressPic.jpg');
}
.patch-item[data-patch-panel='PennArt'] > div {
	background-image: url('/Resources/Projects/PennRender.jpg');
}
.patch-item[data-patch-panel='Menorah'] > div {
  background-image: url('/Resources/Projects/MenorahFront.jpg');
}
.patch-item[data-patch-panel='Carus'] > div {
	background-image: url('/Resources/Projects/Carus1.jpg');
}
.patch-item[data-patch-panel='Guitar'] > div {
  background-image: url('/Resources/Projects/GuitarTop.jpg')
}
.patch-item[data-patch-panel='Turbine'] > div {
  background-image: url('/Resources/Projects/TurbineIso.jpg')
}
.patch-item[data-patch-panel='Robockey'] > div {
  background-image: url('/Resources/Projects/Robockey2.jpg')
}